# Gateway
PORT=3000
JWT_SECRET=cafe_campus_jwt_secret_cambiar_en_produccion

# URLs internas de los microservicios
MS_PRODUCTOS_URL=http://localhost:3001
MS_PEDIDOS_URL=http://localhost:3002
MS_INVENTARIO_URL=http://localhost:3003

# Transporte TCP para benchmark sincrono
MS_PEDIDOS_TCP_HOST=localhost
MS_PEDIDOS_TCP_PORT=4002

# Redis para benchmark asincrono
REDIS_HOST=localhost
REDIS_PORT=6379

# Frontend
FRONTEND_URL=http://localhost:4200
