# MS Inventario - Puerto 3003
PORT=3003
DATABASE_URL="postgresql://postgres:password@localhost:5432/cafe_campus?schema=inventario_schema"

# Transportes para Avance 1
TCP_PORT=4003
REDIS_HOST=localhost
REDIS_PORT=6379
BENCHMARK_INVENTARIO_DELAY_MS=60
BENCHMARK_ASYNC_DELAY_MS=120
